.bg-account-pages {
    background: #3A77BC;
    background: -moz-linear-gradient(-45deg, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E);
    background: -webkit-linear-gradient(-45deg, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E);
    background: linear-gradient(-45deg, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E, #3A77BC, #628AC6, #4CA399, #F4E285, #4CA399, #628AC6, #3A77BC, #54428E);
    background-size: 10000% 10000%;
    -webkit-animation: Gradient 240s linear infinite alternate;
    -moz-animation: Gradient 240s linear infinite alternate;
    animation: Gradient 240s linear infinite alternate;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A77BC', endColorstr='#628AC6',GradientType=1 );
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

.materialize .form-label-group label {
    padding-right: 0;
}

.account-content .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 100%;
    border: 2px solid #2a60c2;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.account-content .button-container button span {
    position: relative;
    z-index: 1;
    color: #2a60c2;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.account-content .button-container button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #2a60c2;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.account-content .button-container button:hover, .account-content .button-container button:active, .account-content .button-container button:focus {
    border-color: #2a60c2;
}

.account-content .button-container button:hover span, .account-content .button-container button:active span, .account-content .button-container button:focus span {
    color: #ffffff;
}

.account-content .button-container button:active span, .account-content .button-container button:focus span {
    color: #ffffff;
}

.account-content .button-container button:active:before, .account-content .button-container button:focus:before {
    border-color: #37578f;
    background: #37578f;
}

.account-content .button-container button:hover:before, .account-content .button-container button:active:before, .account-content .button-container button:focus:before {
    opacity: 1;
    -webkit-transform: scale(15);
    transform: scale(15);
}